#contenido{
  background-color: lightblue;
  display: flex;
  height: fit-content;
  border-top: 0.4vw solid black;
}
#informacion{
  width: 29%;
  border-right: 0.4vw solid black;
  /* background-color: aqua; */
  height: auto;
  text-align: center;
}
#informacion a {
  color: black;
  background-color: rgb(158, 14, 14);
  color: white;
  padding: 2%;
  text-decoration: none;
  border-radius: 25vw;
}
#calendario{
  width: 69%;
  margin: 2%;
  padding: 5%;
  /* background-color: aquamarine; */
  align-items: center;
}
#cabecera{
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
  /* background-color: chartreuse; */
  text-align: center;
  font-size: 1vw;
  border: 0.2vw solid black;
  background-color: lightgreen;
  
  
}
#ant, #sig{
  background-color: aliceblue;
  margin: 5%;
  padding: 0.2%;
}
#celdas{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  /* background-color: coral; */
}
.filaDiasLetra{
  background-color: lightgreen;
  display: flex;
  flex-wrap: nowrap;
  padding: 1%;
}
.filaDiasLetra div{
/* background-color: red; */
flex-basis: 20%;
border: black 1px solid;
margin: 2px;
text-align: center;
}
.fila{
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  padding: 1%;
}
.filaDiasLetra{
  background-color: lightgreen;
  display: flex;
  flex-direction: row;
}
.diaL{
  margin: 1%;
  background-color: aliceblue;
}
.dia{
  margin: 1%;
  text-justify: auto;
  text-align: center;
  flex-basis: 20%;
  border: black 1px solid;
  margin: 2px;
  min-width: 60px;
  min-height: 60px;
  overflow: hidden;
  background-color: aliceblue;
}
.actividad{
  background-color: rgb(158, 14, 14);
  font-size: 100%;
  padding: 0.4vw;
  color: white;
  border-radius: 25vw;
}

.informacionAct{
  background-color: aliceblue;
  padding: 5%;
  margin: 5%;
  text-align: left;
}
/*estilos calendarios*/
