*{
    margin: 0;
    padding: 0;
}
.formulario{
    background-color: lightblue;
    height: 500px;
    text-align: center;
    vertical-align: middle;
}
form{
    align-items: center;
    width: 50%;
    padding-top: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
