header{
    background-color: white;
    height: fit-content;
}
#logo{
    width: 10vw;
    min-width: 30px;
    margin: 2vh;
}
header i{
    font-size: 6vw;
    width: 10vw;
    min-width: 30px;
    margin: 2vh;

    cursor: pointer;
    position: relative;
    float: right;
}
.escondido{
    display: none;
}
nav {
    background-color: lightblue;
    border-radius: 25vw;
    margin: 2%;
}
nav:hover {
    color: white;
    display: block;
}
i:hover + nav{
    color: wheat;
    display: block;
}
li{
    list-style: none;
}
li a{
    color: black;
    text-decoration: none;
}
#butCerrar{
    background-color: rgb(158, 14, 14);
    color: white;
    padding: 0.5vw;
    border-radius: 25vw;
}
/* fin header */